# Prerequisites
*.d

# Compiled Object files
*.slo
*.suo
*.opendb
*.db
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ipch
*.pdb
*.log
*.tlog
*.idb
*.pdb
*.ilk
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
/3DSample/.vs
/3DSample/Debug
/3DSample/3DSample/Debug
*.pdb
